*{
    margin: 0;
    font-family: op;
    padding: 0;
    user-select: none;
}


@font-face {
    font-family: op;
    src: url(../font/Poppins-Regular.ttf);
}
#sidebar{
    top:0;
}


#HtmlTu{
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    position: absolute;
    height: auto;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    padding-left: 6%;
    /* background-color: blue; */
    display: flex;
    margin-top: 60%;
    position: absolute;
    border-top-right-radius: 30px;
    /* padding: 10px; */
    justify-content: center;
    align-items: center;
    width: 75%;
    height: auto;

}

h2{
    width: 100%;
    height: auto;
    margin-top: 10%;
    /* display: flex; */
    text-align: center;

}
#best-road{
    margin-top: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: auto
}

#imgg{
    margin-top: 25%;
}
.catagories{
    width:100%;
    height: auto;
    display: flex;
    padding-bottom: 20%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    /* background-color: blue; */
}
#back{
    margin-top: 5%;
    width: 30%;
    margin-left: 5%;
    font-size: 1.3rem;
    color: black;
}
.content{
    margin-top: 10px;
    border-radius: 50px;
    width: 85%;
    display: flex;
    justify-content: center;
    /* box-shadow: 0px 05px 10px rgba(107, 107, 107, 0.479); */
    font-size: 1rem;
    align-items: center;
    /* flex-direction: column; */
    height: 3.7rem;
    color: white;
    transition-duration: 0.4s;
    background-color:black;
    /* color: white; */
}

.content:active{
    box-shadow: none;
    transform: scale(.9);
}
#dot{
    width: 8px;
    border-radius: 50px;
    height: 8px;
    background-color:red;
}


#icon2{
    color: black;
    margin-top: 15%;
    z-index: 1000;
    font-size: 5rem;
}

mark{
    height: 5rem;
    font-size: 1.2rem;
    padding: 10px;
    border-radius:5px;
    background-color: blue;
    color: white;
}


#basics{
width: 95%;
z-index: -1;
display: flex;
gap: 15px;
flex-wrap: wrap;
justify-content: center;
align-items: center;
height: auto;
/* background-color: black; */
padding-top: 10%;
padding-bottom: 30%;
}

#box{
    width: auto;
    border-radius: 10px;
    height: 3rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    padding: 20px;
    transition-duration: .4s ;
    margin-left: 2%;
    box-shadow: 0px 0px 010px 5px rgba(162, 162, 162, 0.17);
}

#box:hover{
    background-color: gold;
}
#box:active{
    transform: scale(.9);
}
.base{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    margin-top: 20%;
}
/* 
#basics :nth-child(1){
    display: flex;
    justify-content: center;
    box-shadow: none;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    font-size: 1.6rem;
    flex-basis: 270px;
    background-color: rgb(255, 255, 255);
    height: 4rem;
} */

#basics :nth-child(1){
    flex-basis: 200px;
}
#basics :nth-child(2){
    flex-basis: 160px;
}

#basics :nth-child(3){
    flex-basis: 150px;
}

#basics :nth-child(4){
    flex-basis: 100px;
}

#basics :nth-child(6){
    flex-basis: 200px;
}

.hr{
    width: 50%;
    margin-top: 2%;
    border-radius: 50px;
    margin-left: 25%;
    height: .4rem;
    overflow: hidden;
    border: none;
    background-color: rgb(219, 219, 219);
}
body{
    overflow-x: hidden;
}
.run{
    width: 70px;
    height: 7px;
    border-radius: 50px;
    background-color: blue;
    animation: runs 2s linear 1;
}

@keyframes runs {
    from{
        width: 0px;

    }
    to{
        width: 70px;
    }
    
}