*{
    margin: 0;
    font-family: poppins;
    user-select: none;
    box-sizing: border-box;
    padding: 0;
}
@font-face {
    font-family: poppins;
    src: url(/font/Poppins-Regular.ttf);
}

.welcome{
    margin-top: 10%;
    width: 100%;
    height: auto;
    font-size: 4vw;
    flex-direction: column;
    display: flex;
    padding-left: 3%;
    justify-content: center;
    position: absolute;
    align-items: center;
}

@font-face {
    font-family: 'bng';
    src: url(font/FN\ Mamun\ Turio\ Unicode.ttf);
}
#bangla{
    font-family: bng;
    font-size: 4vw;
}


.hov-2{
	transition-duration: .3s;
}
.hov-2:active{
	color: rgb(55, 218, 255);
	transform: scale(.9);
}

#copy{
    bottom: 0;
    margin-top: 70%;
    width: 100%;
    font-size: 1rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: skyblue;
  }



.menu-icon {
    font-size: 30px;
    padding: 10px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    width: 50px;
    border-radius: 50px;
    height: 50px;
    position: fixed;
    /* color: white; */
    top: 10px;
    left: 10px;
    z-index: 1000;
    transition-duration: .2s;
}

.menu-icon:active{
    transform: scale(.8);
}

.sidebar {
    position: fixed;
    left: -320px;
    color: white;
    width: 75%;
    height: 100vh;
     overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
    background-color:black;
    padding-top: 20px;
    transition: left 0.3s ease;
    z-index: 999;
}

.sidebarOff{
    position: fixed;
    right: 320px;
    color: white;
    width: 66%;
    height: 100vh;
     overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
    background-color:black;
    padding-top: 20px;
    transition: left 0.3s ease;
    z-index: 999;
}

/* Sidebar Visible State */
.sidebar.active {
    left: 0;
}

.sidebarOff.inactive{
	right: 320px;
}

.sidebar h2 {
    margin-top: 20%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 5.4vw;
}

.sidebar a {
    display: block;
    color: #fff;
    margin-left: 5%;
    align-items: center;
    display: flex;
    padding: 15px 25px;
    cursor: none;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}
#a:hover{
    background-color: aliceblue;
    width: 87%;
    cursor: none;
    border-radius: 50px;
    transition: 0.3s;
    color: black;
}
.sidebar a:hover {
    background-color: aliceblue;
    width: 85%;
    margin-left: 5%;
    cursor: none;
    border-radius: 50px;
    color: black;
}

.main-content {
    padding: 20px;
    background-color: #f4f6f9;
    height: 100vh;
    transition: margin-left 0.3s ease;
}

#dash{
    font-size: 1.3rem;
    width: 100%;
    height: 4rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}


#course{
    width: 85%;
    border-radius: 50px;
    height:auto;
    padding: 10px;
    margin-top: 3%;
    margin-left: 10%;
    font-size: 6vw;
  
}
#icon{
    font-size: .7rem;
}

p{
    padding: 10px;
    font-size: 1rem;
    margin-top: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.6rem;
    /* background-color: aliceblue; */
    color: rgb(179, 233, 254);
    border-radius: 50px;
}










/* Phone View*/

@media screen and (max-width:768px){
    .welcome{
        margin-top: 75%;
        width: 100%;
        height:auto;
        flex-direction: column;
        display: flex;
        font-size: 4vw;
        justify-content: center;
        position: absolute;
        align-items: center;
    }
    #home{
        position: absolute;
        width: 100%;
        height: 4rem;
        top:2%;
        font-size: 6vw;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
.pad{
    padding-bottom: 20%;
}
ul{
    margin-left: 10%;
    text-decoration: none;
}
ul li{
    margin-left: 10%;
    list-style: none;
    opacity: 1;
    margin-top: 5%;
}
    summary {
        border-radius: 5px;
        display: flex;
        width: 100%;
        margin-left: 5%;
        margin-bottom: 3%;
        align-items: center;
      }
    
      summary::before {
        content: '\25B6'; 
        margin-right: 6%;
        transition: transform 0.5s ease;
      }
    
      details[open] summary::before {
        content: '\25BC';
      }
    
    .wel-text{
        width: 90%;
        height: auto;
        display: flex;
        font-size: 4vw;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        border-radius: 15px;
    }


.logo{
    width: 90%;
    height: 6rem;
    margin-top: 40%;
    display: flex;
				margin-left: 10%;
				padding-bottom: 30%;
    justify-content: center;
    position: absolute;
    align-items: center;
}

#img{
    width: 60%;
    background-size: cover;
    height: 10rem;
}
.content-div{
    width: 100%;
    height: auto;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
}

.hov{
    transition-duration: .3s;
}
.hov:active{
    color: rgb(242, 255, 0);
    transform: scale(.9);
}

#header{
    width: 100%;
    height: 4.5rem;
    position: absolute;
    /* background-color: rgb(2, 141, 255); */
    font-family: bng;
    display: flex;
    color: black;
    /* box-shadow: 0px 5px 10px silver; */
    /* color: #fff; */
    border-bottom-right-radius: 50px;
    /* border-bottom-left-radius: 50px; */
    justify-content: center;
    align-items: center;
    font-size: 5vw;
}

#vab-list{
    width: 100%;
    position: absolute;
    height: auto;
    display: flex;
    margin-top: 30%;
    justify-content: center;
    font-family: bng;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    /* background-color: black; */
}
#box{
    width: 90%;
    /* flex-direction: column; */
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    font-family: bng;
    font-size: 4vw;
    border-radius: 5px;
    height: auto;
    margin-top: 1.60%;
    /* background-color: aliceblue; */
transition-duration: .1s;
}

#box:active{
    transform: scale(.9);
}
a{
    width: 90%;
    text-decoration: none;
    cursor: none;
}

#vab1{
    font-size: 5vw;
    font-family: bng;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    flex-direction: column;
    position: absolute;
}
.line{
    width: 60%;
    height: .2rem;
    border-radius: 50px;
    margin-top: 1%;
    background-color: rgb(189, 189, 255);

}

#content{
    width: 90%;
    height: auto;
    position: absolute;
    flex-direction: row;
    margin-top: 30%;
    padding-bottom: 20%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-size: 4vw;
    font-weight: normal;
    /* font-family: bng; */
}
b{
    font-family: bng;
    font-size: 4.2vw;
}
.footer{
	width: 100%;
	height: 5rem;
	/* background-color: black; */
	bottom: 0;
	overflow: hidden;
	display: flex;
	/* justify-content: space-evenly; */
	justify-content: flex-start;
	z-index: -1;
	position: absolute;
}
.flower-logo{
position: fixed;
float: left;
bottom: 0;
}
.text2{
	width: 60%;
	padding-bottom: 20%;
	height: 7rem;
	font-size: 3vw;
	position: absolute;
	display: flex;
	justify-content: center;
	/* background-color: black; */
	/* color: white; */
	margin-left: 40%;
}
.copy{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position:fixed;
	bottom: 0;
	padding-bottom:3%;
}


button {
	position: absolute;
	width: 40%;
	margin-left: 30%;
	margin-top: 130%;
	font-size: 4.5vw;
	height: 3.7rem;
	border-radius: 50px;
	background:gold;
	border: none;
	/* box-shadow: 0px 05px 10px rgb(197, 197, 197); */
	transition-duration:0.3s;
}

button:active {
	transform: scale(.9);
}

#update{
	width: 100%;
	font-size: 3vw;
	padding: 6px;
	height: auto;
	background-color: red;
	border-radius: 50px;
	color: white;
}

#release{
	width: 100%;
	font-size: 3.4vw;
	padding: 6px;
	height: auto;
	background-color:black;
	border-radius: 50px;
}

#story-heading{
    width: 100%;
    height: 6rem;
    background-color: white;
    top: 0;
    z-index: 1;
    position: fixed;
    text-align: center;
    box-shadow: 0px 07px 20px rgb(203, 203, 203);
    /* background: linear-gradient(190deg,rgb(61, 61, 255),rgb(184, 234, 254)) ; */
    font-weight: bold;
    font-size: 5.5vw;
    justify-content: center;
    align-content: center;

}
#st-bg{
    background-color:rgb(248, 247, 247);
}
.story-main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    z-index: -1000;
    flex-direction: column;
    height:auto;
    padding-top: 5%;
    padding-bottom: 10%;
    position: absolute;
    margin-top: 30%;
    /* background-color: blue; */
}
.story-list{
    width: 90%;
    border-radius: 5px;
    height: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(223, 222, 222);
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

#story-name{
    color: black;
    font-size: 4vw;
    font-weight: bold;
    width: 70%;
    height: auto;
    background-color: rgb(200, 200, 246);
    padding: 17px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 5px;
    padding-left: 10%;
}
.text-box{
    width: 85%;
    margin-left: 5%;
    height: 5rem;
}
#story-pic{
    width: 85%;
    align-self: center;
    height:13rem;
    border-radius: 5px;
    background-image: url(/Pic/Greedy-farmer.jpg);
    background-size: cover;
}
#Greedy-farmer{

}

#bayezid{
    font-size: 5vw;
    width: 100%;
    height: auto;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bayezid-bangla{
    font-size: 5.3vw;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: bng;
}
.explain-story{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
}
.explain-story-bn{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    /* font-family: bng; */
    height: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}


#story-pic2{
    width: 85%;
    align-self: center;
    height:13rem;
    border-radius: 5px;
    background-image: url(/Pic/Greedy.jpg);
    background-size: cover;
}
#more-button{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6%;
    font-size: 4vw;
    /* font-weight: bold; */
    padding: 10px;
    margin-left: 25%;
    background-color: rgb(216, 237, 255);
    border-radius: 50px;
}
}



